@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: "Gulfs Display";
    src: url(./fonts/GulfsDisplay-Normal.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 768px;
}


.principal{
    position: relative;
    background-color: #feb4cd;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
 
.principal-info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 722px;
    width: 90%;
}

.principal-contenedor-img{
    position: absolute;
    height: 658px;
    width: 26rem;
    bottom: -364px;
    border: 1px solid black;
    background-image: url(./img/principalboda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50% / 30%; /* Redondea solo las esquinas superior e inferior */
}

.raya{
    position: absolute;
    width: 7rem;
    right: 56px;
    bottom: 184px;

}

.start{
    position: absolute;
    width: 3rem;
    left: 67px;
    bottom: 91px;
}

.start-pequenna{  
    position: absolute;
    width: 2rem;
    left: 105px;
    bottom: 350px;
}

.start-pequenna-dos{
    position: absolute;
    width: 2rem;
    right: 85px;
    bottom: 54px;
}

.main-title{
    z-index: 1;
    font-family: "Gulfs Display", sans-serif;
    color: #0061ff;
    text-align: center;
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 4px;
    width: 86%;
}

.circle{
    position: absolute;
    width: 10rem;
    left: 116px;
    bottom: -387px;
}

/* Seccion nosotors*/

.nosotros{
    background-color: #fff35f;
    padding-top: 426px;
    padding-left: 90px;
    padding-right: 90px;
}

.content-info{
    position: relative;
    margin: 50px ;
}


.about-shape{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.about-shape img{
    width: 60px;
    height: 60px;
}


.content-info h1{
    color: #fff35f;
    font-size: 7rem;
    font-family: "Gulfs Display", sans-serif;
    -webkit-text-stroke: 1px #0061ff;
    line-height: 0.8;
    margin-bottom: 40px;
}

.nosotros-parrafo{
    font-family: sans-serif;
    font-size: 2.1rem;
    line-height: 1.3;
    font-weight: bold;
}

.nosotros-nupcia{
    display: flex;
    align-items: start;
    margin-bottom: 30px;

}

.nupcia{
    font-size: 1.3rem;
    margin-top: 30px;
    font-family: "Gulfs Display";
}

.rigns{
    width: 100px;
}

.about-start{
    width: 100px;
    height: 97px;
}


/* Principal foto fiesta */
.img-fiesta{
    position: relative;
    width: 100%;
    height: 520px;
    padding-bottom: 100px;
}
/* ----- */
.fiesta-uno{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    transform: rotate(-3deg); 
    height: 100%;
}


.fiesta-uno img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.fiesta-tres, .fiesta-dos{
    position: absolute;
    transform: rotate(-3deg);
    background-color: #feb4cd;
    border: 1px solid black;
}

.fiesta-dos{
    width: 456px;
    height: 423px;
    bottom: 80px;
    left: 45px;
}

.fiesta-tres{
    width: 443px;
    height: 419px;
    bottom: 62px;
    left: 31px;
}


/* Chat */
.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #fff35f;
    position: fixed;
    bottom: 0;
    right: 124px;;
    border: 1px solid black;
    z-index: 2;
}









/* Precios */

.precios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    
    
}

.construye, .horas{
    
    display: flex;
    justify-content: center;
    align-content: center;
    grid-column: 1/-1;
    background-color: #feb4cd;
    padding-top: 30px 20px 30px 20px;
}

.construye p{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    color: #ff6542;
    font-size: 4rem;
    font-family: "Gulfs Display", sans-serif;
    line-height: 1;
}

.content-horas{
    width: 100%;
    margin-top: 30px;
}



.sesion, .video, .solo, .cabina{
    font-family: "Gulfs Display";
    font-size: 2rem;
    text-align: center;
    margin-top: 80px;
}

.titulo-sesion{

}

.interrogante-sesion{
    background-color: #ff6542;
    color: #fff35f;
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px 7px 3px 7px;
    border-radius: 100%;
    font-size: 1rem;
   
   
}
.sesion p {
   width: 100%;
    color: #ff6542;
}


.horas p{
    padding-top: 6px;
    font-family: "Gulfs Display";
    font-size: 2rem;
    color: #0061ff;
}


.horas-totales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.title-horas, .titulo-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.interrogante{
    background-color: #0061ff;
    color: #feb4cd;
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px 7px 3px 7px;
    border-radius: 100%;
    font-size: 1rem;
    margin-left: 5px;
}
.numero-tres{
    background-color: #0061ff;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px 7px 3px 7px;
    border-radius: 100%;
    font-size: 1rem;
    margin-left: 5px;
    border: 1px solid black;
}

.slider{
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    height: 50px;
}


.slider-img{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 8px;
}

hr{
    height: 15px;
    background-color: #fff35f;
    border-radius: 5px;
}
























